{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/books.css' %}">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
</head>
<body>

    <div class="save_form">

        <form action="{% url 'add-book' %}" method="POST">
            {% csrf_token %}
            <div class="div_input">
                <input type="text" class="style_input" placeholder="Заголовок" name="title">
            </div>

            <div class="div_input">
                <input type="text" class="style_input" placeholder="Подзаголовок" name="subtitle">
            </div>

            <div class="div_input">
                <input type="text" class="style_input" placeholder="Описание" name="description">
            </div>

            <div class="div_input">
                <input type="text" class="style_input" placeholder="Цена" name="price">
            </div>

            <div class="div_input">
                <input type="text" class="style_input" placeholder="Жанр" name="genre">
            </div>

            <div class="div_input">
                <input type="text" class="style_input" placeholder="Год выпуска" name="year">
            </div>

            <div class="div_input">
                <button class="style_input">Добавить книгу</button>
            </div>

            </form>

    </div>

    <div class="todo_container">
            {% for books in books_list %}
            <div class="todo_item">
            <h3 class=""> Заголовок: {{ books.title }} </h3> 
            <h4 class=""> Подзаголовок: {{ books.subtitle }} </h4>
            <h4 class=""> Описание: {{ books.description }} </h4>
            <h4 class=""> Цена: {{ books.price }} </h4>
            <h4 class=""> Жанр: {{ books.genre }} </h4>
            <h4 class=""> Год выпуска:{{ books.year }} </h4>
            <h4 class=""> Дата создания: {{ books.date }} </h4>
            </div>
            {% endfor %}
        <script>

           
        </script>
    </div>
</body>
</html>